<?xml version="1.0"?>
<config>
  <modules>
    <Mook_Consultas>
      <version>0.1.0</version>
    </Mook_Consultas>
  </modules>
  <frontend>
    <routers>
      <consultas>
        <use>standard</use>
          <args>
            <module>Mook_Consultas</module>
            <frontName>consultas</frontName>
          </args>
      </consultas>
    </routers>
		<layout>
		  <updates>
			<consultas>
			  <file>consultas.xml</file>
			</consultas>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <consultas>
        <class>Mook_Consultas_Helper</class>
      </consultas>
    </helpers>
	<blocks>
	  <consultas>
		<class>Mook_Consultas_Block</class>
	  </consultas>
	</blocks>
  </global>
  <admin>
	<routers>
	  <consultas>
	    <use>admin</use>
		<args>
		  <module>Mook_Consultas</module>
		  <frontName>admin_consultas</frontName>
		</args>
	  </consultas>
	</routers>
  </admin>
  <adminhtml>
	<menu>
	  <consultas module="consultas">
		<title>Consultas</title>
		<sort_order>100</sort_order>
		<children>
		  <consultasbackend module="consultas">
			<title>Productos</title>
			<sort_order>0</sort_order>
			<action>admin_consultas/adminhtml_consultasbackend</action>
		  </consultasbackend>
		</children>
	  </consultas>
	</menu>
	<acl>
	  <resources>
		<all>
		  <title>Allow Everything</title>
		</all>
		<admin>
		  <children>
			<consultas translate="title" module="consultas">
			  <title>Consultas</title>
			  <sort_order>1000</sort_order>
			  <children>
		  <consultasbackend translate="title">
			<title>Productos</title>
		  </consultasbackend>
			  </children>
			</consultas>
		  </children>
		</admin>
	  </resources>
	</acl>
	<layout>
	  <updates>
		<consultas>
		  <file>consultas.xml</file>
		</consultas>
	  </updates>
	</layout>
  </adminhtml>
</config> 